GRPC_PORT=50052
DB_HOST=localhost
DB_PORT=5434
DB_USER=purchases
DB_PASSWORD=purchasespass
DB_NAME=purchases_db
CATALOG_ADDR=localhost:50051
CATALOG_TIMEOUT=1s
CATALOG_MAX_ATTEMPTS=3
CATALOG_RETRY_BASE=100ms
CATALOG_BREAKER_THRESHOLD=3
CATALOG_BREAKER_OPEN_TIMEOUT=10s